<!DOCTYPE html>
<html lang="pt-br" class="scroll-smooth">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meu Perfil</title>
    <link rel="shortcut icon" href="../assets/images/icones/LinguRemiLogo.ico" type="image/x-icon">
    <link rel="stylesheet" href="../assets/css/output.css">
</head>
<body class="flex flex-col min-h-screen">
    
    <header class="flex justify-between items-center px-5 shadow-lg z-30">
        <nav class="flex flex-row gap-x-6 text-xl w-1/3">
            <ul class="flex flex-row space-x-6">
                <li><a href="./produtos.html">Produtos</a></li>
                <li><a href="#footer">Sobre nós</a></li>
                <li><a href="./blog.html">Blog</a></li>
            </ul>
        </nav>
        
        <div class="flex justify-center w-1/3">
            <img class="w-62" src="../assets/images/logo/LinguRemiLogo.png" id="">
        </div>

        <nav class="flex flex-row gap-x-6 text-xl w-1/3 justify-end">
            <ul class="flex flex-row space-x-6">
                <li><a href="./index.html"><img src="../assets/images/icones/Home.png" alt="Página inicial"></a></li>
                <li><a href="./carrinho.html"><img src="../assets/images/icones/carrinho2.png" alt="Meu Carrinho"></a></li>
            </ul>
        </nav>
    </header>

    <div class="flex flex-col grow w-full">

        <main class="container flex flex-row gap-4 mx-0 px-2 pb-5 pt-3 w-full bg-white">

            <section class="flex flex-col items-center min-w-2/5 min-h-[700px] rounded-2xl shadow-2xl text-gray-200 pt-8 bg-linear-to-br from-gray-500 from-1% via-gray-600 via-9% to-black to-90%">
                <div id="carregarFoto" class="flex min-w-3/5 min-h-2/5 mb-3 border rounded-3xl cursor-pointer items-center justify-center">
                    <input type="file" accept="image/*" id="carregarFoto" placeholder="Adicione sua Foto" class="max-w-2/5 mb-3 rounded hidden">
                    <span id="fileName" class="flex mt-2 mx-auto justify-center text-gray-600">Adicione sua Foto</span>
                    <div id="fotoUser" class="max-w-3/5 min-h-2/5 mb-3 border rounded-3xl cursor-pointer hidden"></div>
                </div>
                <div id="infoUser" class="flex items-center flex-col max-w-full">
                    <ul class="flex flex-col space-y-6">
                        <li id="userName" class="text-2xl font-bold"></li>
                        <li id="userEmail" class="text-2xl font-bold"></li>
                        <li id="logout" class="mt-50 mb-0 text-[20px] font-bold cursor-pointer">Sair</li>
                    </ul>
                </div>
            </section>

            <section id="historico" class="relative flex flex-col min-w-2/3 min-h-[700px] rounded-2xl shadow-2xl overflow-hidden">

                <div class="absolute inset-0 bg-linear-to-br from-gray-500/60 via-gray-600/60 to-black/60 backdrop-blur-md"></div>
                
                <div class="w-full h-full relative z-10 p-6 text-white">
                    <div class="w-full flex text-center"><h1 class="text-3xl mx-auto my-3 flex self-center"><strong>Histórico</strong></h1></div>
                    <div id="itensHist" class="flex flex-col w-full h-2/4 bg-white/30 rounded-3xl">
                        <ul class="flex flex-col space-x-6">
                            <li id="tipo"></li>
                            <li id="titulo"></li>
                            <li id="valor" class="hidden"></li>
                        </ul>
                    </div>

                </div>

            </section>
        </main>

    </div>
        
    <footer id="footer" class="text-gray-200 pt-32 bg-linear-to-br from-gray-500 from-1% via-gray-700 via-9% to-black to-90%">
        <div class="container mb-0 mx-auto px-6">
            <div class="flex flex-col md:flex-row justify-between gap-6">
    
                <div class="md:w-2/5 min-w-0">
                    <a href="#">
                        <img class="mt-0 max-h-1/4 max-w-10/12 place-self-center" src="../assets/images/icones/LinguRemiLogo.ico" alt="LinguRemi">
                    </a>
                    <p class="mt-6 text-gray-300 wrap-break-words max-w-full overflow-hidden whitespace-normal">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eaque eos consectetur consequuntur sunt sequi sint inventore nesciunt, omnis iure repellendus possimus cumque. Distinctio vel cum iusto quia corrupti. Recusandae, quibusdam!
                    </p>
                </div>
                <div class="col-span-1 md:col-span-3 lg:col-span-2">
                    <h5 class="tracking-wide text-gray-100 font-semibold">Company</h5>
                    <ul class="list-none mt-6 space-y-2">
                        <li><a href="#" class="text-gray-300 hover:text-gray-400 transition-all duration-500">Nosso Blog</a></li>
                        <li><a href="#" class="text-gray-300 hover:text-gray-400 transition-all duration-500">Trabalhe conosco</a></li>
                        <li><a href="#" class="text-gray-300 hover:text-gray-400 transition-all duration-500">Contato</a></li>
                    </ul>
                </div>
                <div class="col-span-1 md:col-span-3 lg:col-span-2">
                    <h5 class="tracking-wide text-gray-100 font-semibold">Redes sociais</h5>
                    <ul class="list-none mt-6 space-y-2">
                        <li><a href="https://web.whatsapp.com" target="_blank" class="text-gray-300 hover:text-gray-400 transition-all duration-500">WhatsApp</a></li>
                        <li><a href="https://www.instagram.com/" target="_blank" class="text-gray-300 hover:text-gray-400 transition-all duration-500">Instagram</a></li>
                        <li><a href="https://www.tiktok.com/login?redirect_url=https%3A%2F%2Fwww.tiktok.com%2Fpt-BR%2F&lang=en&enter_method=mandatory" target="_blank"class="text-gray-300 hover:text-gray-400 transition-all duration-500">TikTok</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="text-center mt-1 pb-10">©LinguRémi 2025</div>
    </footer> 

    <script type="module" src="../../src/build/perfil.js"></script>
</body>
</html>