<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/output.css">
    <title>Produtos</title>
</head>
<body>
    
    <header class="flex justify-between items-center px-5">
        <nav class="flex flex-row gap-x-6 text-xl">
            <ul class="flex flex-row space-x-6">
                <li><a href="./view/produtos.html">Produtos</a></li>
                <li><a href="#footer">Sobre nós</a></li>
            </ul>
        </nav>
        <img class="w-62 mx-auto" src="../assets/images/logo/logo1.png" id="">
        <nav class="flex flex-row gap-x-6 text-xl">
            <ul class="flex flex-row space-x-6">
                <li><a id="ident0" class="flex" href="#">Login</a></li>
                <li><a id="ident1" class="hidden" href="./view/perfil.html"></a></li>
                <li><a href="./view/carrinho.html"><img src="../assets/images/icones/carrinho2.png" alt="Meu Carrinho"></a></li>
            </ul>
        </nav>
    </header>

</body>
</html>